@font-face {
    font-family: Glass_TTY_VT220;
    src: url(fonts/Glass_TTY_VT220.ttf);
}

* {
    background-color: #282828;
} 


#landingpage {
    font-family: Glass_TTY_VT220;
    font-size: 30px;
    color: #f0fff8;
    text-shadow: 0 0 1px #80ffc0, 0 0 3px #00ff66, 0 0 5px #00ff66, 0 0 7px #00ff66;
    text-align: center;
    line-height: 1.6em;
    letter-spacing: 0.005em;
}

h1 {
    font-family: Glass_TTY_VT220;
    font-size: 45x;
    color: #f0fff8; /* almost white */
    text-shadow: 0 0 3px #80ffc0, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66;
}
